$width: 240px;
$height: $width;

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
	grid-auto-rows: $height;
	grid-auto-flow: dense;
	background: var(--orange);
	&--image {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			background: url("../../../assets/image/icon/loading.gif") no-repeat 50%;
			transform: scale(1);
			transition: 0.7s ease;
			&:hover {
				transform: scale(1.1);
			}
		}
		&-loader {
			position: absolute;
		}

		&-light {
			grid-column: 1 / span 2;
		}

		&-horizontal-s {
			grid-column: span 1;
		}

		&-horizontal-m {
			grid-column: span 2;
		}

		&-horizontal-l {
			grid-column: span 3;
		}

		&-vertical-s {
			grid-row: span 1;
		}

		&-vertical-m {
			grid-row: span 2;
		}

		&-vertical-l {
			grid-row: span 3;
		}

		&-big-s {
			grid-column: span 1;
			grid-row: span 1;
		}

		&-big-m {
			grid-column: span 2;
			grid-row: span 2;
		}

		&-big-l {
			grid-column: span 3;
			grid-row: span 3;
		}
		&-light {
			grid-column: 1 / span 2;
		}

		&-horizontal-s {
			grid-column: span 1;
		}

		&-horizontal-m {
			grid-column: span 2;
		}

		&-horizontal-l {
			grid-column: span 3;
		}

		&-vertical-s {
			grid-row: span 1;
		}

		&-vertical-m {
			grid-row: span 2;
		}

		&-vertical-l {
			grid-row: span 3;
		}

		&-big-s {
			grid-column: span 1;
			grid-row: span 1;
		}

		&-big-m {
			grid-column: span 2;
			grid-row: span 2;
		}

		&-big-l {
			grid-column: span 3;
			grid-row: span 3;
		}
	}
}
