.pagination {
	border: 1px solid #d9d9d9;
	display: inline-flex;
	border-radius: 3px;
	&--item {
		color: #0a2640;
		border-right: 1px solid #d9d9d9;

		cursor: pointer;
		&:hover,
		&.active {
			background: #f4f5f5;
		}
		&:last-child {
			border: none;
		}

		a {
			display: block;
			padding: 2px, 12px;
		}
		&-disabled {
			pointer-events: none;
			background: #d9d9d9;
		}
	}
}
